<header>
  <ul>
    <li><h1> Adicionar Notícia</h1></li>

  </ul>
  <div id="logo">

    <a href="home"><img src="/assets/fatecbranco.png" height="45"></a>

  </div>
</header>

<form>
  <label>Adicione uma nova notícia:</label>
  <input placeholder="Título da Noticia" type="text" name="titulonoticia" maxlength="40">
  <textarea placeholder="Descrição da Noticia" name="descricaonoticia"
   rows="15" wraps="15" maxlength="400" cols="40"></textarea>
  <button (click)="AddNoticia" class="btnAdd">
    ADICIONAR NOTÍCIA
  </button>
</form>