header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #921710;
    color: white;
  
  }
  
  #logo {
    margin: 25px;
  }

  h1 {
    font-size: 30px;
    margin-right: 56vh;
    font-family: Arial, Helvetica, sans-serif;
  }

  li{
    list-style: none;
    margin-top: 25px;
  }

  label,input,button{
    display: block;
  }

  label{
    font-size: 20px;
    margin: 15px;
  }

  textarea{
    margin: 15px;
  }

  input{
    margin: 15px;
    width: 303px;
  }

  .btnAdd{
    background: #ff0000;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 500;
    cursor: pointer;
    font-size: 18px;
    transition: 0.3s;
    margin: 15px;
    width: 303px;
  }


