header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #921710;
    color: white;
  }
  
  #logo {
    margin: 25px;
  }

  h1 {
    font-size: 30px;
    margin-right: 56vh;
    font-family: Arial, Helvetica, sans-serif;
  }

  .botoes {
    text-align: right;
    margin: 10px 0px 10px 0px;
  }

  .h1Header{
    margin-left: 100px;
  }