<header>
  <div id="logo">

    <img src="/assets/fatecbranco.png" height="60">

  </div>

  <ul>
    <li><h1> Portal De Notícias </h1></li>
    <a href="login2" ><li> <img  class="login" src="/assets/user.png">   </li></a>
    <a href="postnoticia" ><li> <img  class="login" src="/assets/botaoNoticia.png">   </li></a>
  </ul>
</header>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kanit&display=swap" rel="stylesheet">

<!-- Card -->
<div class="noticias">
  <ul class="noticias">

    <li>
      <div class="card">
        <div class="card-details">
          <p class="text-title">Título da notícia 1</p>
          <p class="text-body">Isso é uma descrição demonstrativa para o card de notícia 1 apenas para exemplos práticos</p>
          <ul class="ulInfo">
            <li class="informacoes"><p class="text-date">15/08/2023</p></li>
            <li class="informacoes"><p class="text-name">Lucas Freitas</p></li>
          </ul>    
        </div>
        </div>
    </li>


    <li>
      <div class="card">
        <div class="card-details">
          <p class="text-title">Título da notícia 2</p>
          <p class="text-body">Isso é uma descrição demonstrativa para o card de notícia 2 apenas para exemplos práticos</p>
          <ul class="ulInfo">
            <li class="informacoes"><p class="text-date">12/05/2022</p></li>
            <li class="informacoes"><p class="text-name">Luciana Aquaroni</p></li>
          </ul>
        </div>
        </div>
    </li>

    <li>
      <div class="card">
        <div class="card-details">
          <p class="text-title">Título da notícia 3</p>
          <p class="text-body">Isso é uma descrição demonstrativa para o card de notícia 3 apenas para exemplos práticos</p>
          <ul class="ulInfo">
            <li class="informacoes"><p class="text-date">30/10/2021</p></li>
            <li class="informacoes"><p class="text-name">Veronica Gementi</p></li>
          </ul>
        </div>
        </div>
    </li>
</ul>
</div>