<div class="container-login">
    <div class="img-box">
        <img src="assets/login.svg">
    </div>
    <div class="content-box">

        <div class="form-box">
            <div><a routerLink=""><img class="logofatec" src="assets/fatecpreto.png" alt="logo fatec" height="60"
                        width="134"></a>
            </div>
            <h2>Login</h2>
            <form [formGroup]="loginForm" (ngSubmit)="login()">
              <div class="input-box">
                <span>E-mail</span>
                <input
                  formControlName="email"
                  type="email"
                  placeholder="exemplo@mail.com"
                  required
                />
                <span
                  class="text-danger"
                  *ngIf="
                    loginForm.controls['email'].dirty &&
                    loginForm.hasError('required', 'email')
                  "
                  >E-mail é necessário</span
                >
              </div>

              <div class="input-box">
                <span>Senha</span>
                <input
                  formControlName="password"
                  type="password"
                  placeholder="Senha"
                  required
                />
                <span
                  class="text-danger"
                  *ngIf="
                    loginForm.controls['senha'].dirty &&
                    loginForm.hasError('required', 'password')
                  "
                  >Senha é necessário</span
                >
              </div>

              <div class="remember">
                <label> <input type="checkbox" /> Lembre-Me </label>
                <a>Esqueceu a Senha?</a>
              </div>

              <div class="input-box">
                <input
                  type="submit"
                  [disabled]="!loginForm.valid"
                  class="btn btn-primary mt-3"
                  value="Entrar"
                />
              </div>

              <div class="input-box">
                <p>
                  Não Tem Uma Conta?<a
                    routerLink="/singup"
                    routerLinkActive="selected"
                  >
                    Inscrever-se</a
                  >
                </p>
              </div>
            </form>
        </div>
    </div>
</div>
